{% if section.settings.blog.articles.size > 0 %}
  <div class="blogpost-section">
    <h2 class="blogpost_heading-{{section.id}}">Featured Blogs</h2>
    <div class="blogpost-container container">
      <div class="blogpost-content flex">
        {% for article in section.settings.blog.articles limit: 4 %}
          <div class="blog-card">
            {% render 'blog-card', article: article %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% style %}
  .blogpost_heading-{{ section.id}}{
    color: {{ section.settings.heading_text_color}}
    ;
    text-align: {{ section.settings.heading_position}}
    ;
    padding: 0 2rem;
    /* margin-bottom: 1.2rem; */
  }
{% endstyle %}


{% schema %}
  {
    "name": "Blogpost Section",
    "class": "homepage section",
    "tag": "section",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Choose a Blog"
      }, {
        "type": "color",
        "id": "heading_text_color",
        "label": "Heading Color",
        "default": "#000"
      }, {
        "type": "select",
        "id": "heading_position",
        "label": "Heading position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Blogpost Section"
      }
    ]
  }
{% endschema %}