{% if section.blocks.size > 0 %}
  <div class="usp-section__main-container">
    <div class="usp-section__content flex">
      {% for block in section.blocks %}
        <div class="flex">
          <div>
            {% assign icon_image = block.settings.icon_mobile | default: blocks.settings.icon %}
            {% render 'image', class: 'usp-section__image', mobileSrc: icon_image, desktopSrc: block.settings.icon %}
          </div>
          <div class="usp-section__content-text flex column">

            {% if block.settings.icon_heading_text != blank %}
              <h6 class="usp-section__heading">{{ block.settings.icon_heading_text }}</h6>
            {% endif %}

            {% if block.settings.icon_paragraph_text != blank %}
              <p class="usp-section__paragraph">{{ block.settings.icon_paragraph_text }}</p>
            {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endif %}

{% style %}
  .usp-section__container {
    background-color: {{ section.settings.background_color}}
    ;
  }
{% endstyle %}

{% schema %}
  {
    "name": "USP Section",
    "class": "homepage section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ece2cc"
      }
    ],
    "blocks": [
      {
        "name": "USP Blocks",
        "type": "usp_blocks",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Image",
            "info": "60 x 49px .jpg recommended"
          },
          {
            "type": "image_picker",
            "id": "icon_mobile",
            "label": "Image (Mobile)",
            "info": "600 x 800px .jpg recommended"
          },
          {
            "type": "text",
            "id": "icon_heading_text",
            "label": "Heading Text",
            "default": "Free delivery worldwide"
          },
          {
            "type": "color",
            "id": "icon_heading_text_color",
            "label": "Heading Color",
            "default": "#000"
          }, {
            "type": "text",
            "id": "icon_paragraph_text",
            "label": "Pragraph Text",
            "default": "We use trusted transportion partners"
          }, {
            "type": "color",
            "id": "icon_paragraph_text_color",
            "label": "Para Color",
            "default": "#000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "USP Section"
      }
    ]
  }
{% endschema %}



{% comment %} 
{% if icon_image != blank %}
{% assign icon_image = block.settings.icon_mobile | default: blocks.settings.icon %}
{% render 'image', class: '', mobileSrc: icon_image, desktopSrc: block.settings.icon %}
{% else %}
{% if forloop.index == 1 %}
<i class="fa-solid fa-box"></i>
{% endif %}
{% if forloop.index == 2 %}
<i class="fa-solid fa-cart-shopping"></i>
{% endif %}
{% if forloop.index == 3 %}
<i class="fa-solid fa-headset"></i>
{% endif %}
{% if forloop.index == 4 %}
<i class="fa-regular fa-credit-card"></i>
{% endif %}
{% endif %}
{% endcomment %}